/* ======================================== Google Fonts ======================================== */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* ======================================== CSS Variables ======================================== */

:root {
  /* Typography */
  --fz-normal: 1.125rem;

  --fw-medium: 500;
  --fw-normal: 400;
  --fw-thin: 300;

  --ff-body: "Rubik", sans-serif;
}

/* ======================================== HTML Reseting ======================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: var(--ff-body);
  min-height: 100vh;
  display: grid;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

/* ======================================== Styling ======================================== */

.not-selectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.todos {
  width: min(30rem, 90%);
  min-height: 30rem;
  margin-inline: auto;
  margin-block: 4em;
  background-color: rgb(0 0 0 / 0.75);
  border-radius: 1rem;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.todos-form {
  width: 100%;
}

.form-input {
  display: flex;
}

.todos-input {
  outline: none;
  border: none;
  flex-basis: 75%;
  padding: 1em 2em;
  margin-bottom: 2rem;
}

.todos-submit {
  margin-bottom: 2rem;
  flex-basis: 25%;
  padding: 1em 2em;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  color: white;
  font-size: 1rem;
}

.todo-item-container {
  width: 100%;
}

.todo-item {
  background-color: rgb(255, 255, 255);
  padding-block: 1em;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
}

.taref {
  word-wrap: break-word;
  word-break: break-all;
}

.button-area {
  display: flex;
  gap: 1em;
  margin-left: 2em;
}

.todo-btn {
  background-color: #fff;
}

.clear-todos {
  width: max-content;
  outline: none;
  padding: 1em 2em;
  margin-top: 1em;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 768px) {
  .todos {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 398px) {
  .todos {
    padding: 1.25rem;
  }
}
